$main-color: #000000;
$base-color: #ffffff;
$font-style: 'Roboto Mono', monospace;

body, html {
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.grid-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @extend .grid-center;
  font-family: $font-style;

  background-image: radial-gradient(black 20%, transparent 0);
  background-size: 6px 6px;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  width: 550px;
  text-align: center;
  position: relative;
  border: 3px solid $main-color;
  background-color: $base-color;
  padding: 40px 60px 60px 60px;
}

.title-wrapper {
  width: 567px;
  margin-bottom: 30px;
  padding: 10px;
}

.title {
  font: 600 20px $font-style;
  padding-bottom: 10px;
}

.rule {
  font: 400 12px $font-style;
}

.game-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 550px;
}

.player-0-panel, .player-1-panel {
  background-color: $base-color;
  border: 4px solid $main-color;
  padding: 40px;
}

.player-0-panel {
  border-right-style: none;
}

.player-name {
  font: 600 20px $font-style;
}

.player-score {
  font: 200 60px $font-style;
  padding: 15px;
}

.player-current-box {
  border: 3px dotted $main-color;
  padding: 10px;
}

.player-current-label {
  padding: 5px;
}

// number
.number-wrapper {
  @extend .grid-center;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 90px;
  background-color: $main-color;
  border-radius: 100%;
}

.number {
  font: 500 30px $font-style;
  color: $base-color;
}

// button
.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  width: inherit;
  padding-top: 40px;
}

.button-reset {
  appearance: none;
  border: none;
  outline: none;
}

button {
  @extend .button-reset;
  background-color: $main-color;
  color: $base-color;
  font: 15px $font-style;
  text-transform: uppercase;
  box-shadow: 1px 1px 0px 0px $main-color,
              2px 2px 0px 0px $main-color,
              3px 3px 0px 0px $main-color,
              4px 4px 0px 0px $main-color;  
  padding: 15px;
}

button:active {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.btn-roll {
  border-right: 1px solid $base-color;
  border-bottom: 1px solid $base-color;
}

.btn-new, .btn-hold {
  background-color: $base-color;
  color: $main-color;
  border: 2px solid $main-color;
}

.active {
  border: none;
  outline: 10px solid $main-color;
  z-index: 0;
}

.winner {
  animation: winner-border 0.8s infinite;
}

@keyframes winner-border {
  10% {
    outline: 2px solid $main-color;
  }
  20% {
    outline: 10px solid $main-color;
  }
}

.winner-font {
  font: 600 35px $font-style;
  text-transform: uppercase;
  
  animation: winner-font 0.8s infinite;
}

@keyframes winner-font {
  10% {
    color: $base-color;
  }
  20% {
    color: $main-color;
  }
}

